__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


venv/
.venv/
ENV/
env/
.env

#  Artifacts & Videos
test-results/
allure-results/
allure-report/
screenshots/
videos/
htmlcov/
.coverage
report.html
report.xml


.vscode/
.idea/
.DS_Store
Thumbs.db